---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="blog">
  <p>Hi! My name is Mike Kozak.</p>
  <p> I'm a digital strategist and project manager at Wall-to-Wall Studios in Pittsburgh, PA. Full-time father and husband. Cyclist. Writer. Gardener. Concerned citizen.</p>
  <p>Get in touch via <a href="http://twitter.com/mwkozak" target="_blank">Twitter</a> or subscribe to my weekly newsletter of digital goodness.</p>
</div>
<div>
  <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/mwkozak" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/mwkozak', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="Subscribe" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
</div>
<!--
<div class="blog">
    <h1>Blog Posts:</h1>
    <ul>
        {% for post in site.posts %}
        <li>
            <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
-->
