// COLORS
$color-black: #000000;
$color-white: #FFFFFF;
$color-link: #c3fdff;
$color-code: #00FF00;
$color-primary: #546e7a;
$color-primary-light: #819ca9;
$color-primary-dark: #29434e;
$color-secondary: #90caf9;
$color-secondary-light: #c3fdff;
$color-secondary-dark: #5d99c6;

// BREAKPOINTS
$br: 600px;
